Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Build
Release
desktop.ini

Content/NecrosUtilityMatPack
Content/DynamicVolumetricSky
Content/Stylized_Forest
Content/World_Flags
Content/Overview.umap
